<mat-nav-list>
    <a mat-list-item routerLink="/foodbank" (click)="close()">
        <mat-icon>menu</mat-icon>
        <span>Foodbank</span>
    </a>
    <a mat-list-item routerLink="/not-found" (click)="close()">
        <mat-icon>menu</mat-icon>
        <span>Not Found</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="close()">
        <mat-icon>menu</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="close()">
        <mat-icon>menu</mat-icon>
        <span>Register</span>
    </a>
</mat-nav-list>