<div class="main_component">
<mat-card class="example-card">
    <mat-card-title>{{username}}'s profile:</mat-card-title>
    <mat-card-content>      
      <mat-list>
        <mat-list-item>Email: {{email}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Height: {{height}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Weight: {{weight}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Username: {{username}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Sex: {{sex}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>BMI: {{bmi}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>