<div class="main_component">
    <div class="div-flex">
        <h1>Register an account!</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput type="text" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Password: </mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="rePassword">Confirm password: </mat-label>
                <input matInput type="password" formControlName="rePassword" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="username">Username: </mat-label>
                <input matInput type="text" formControlName="rePassword" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="weight">Weight: </mat-label>
                <input matInput type="text" formControlName="rePassword" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="height">Height: </mat-label>
                <input matInput type="text" formControlName="rePassword" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Sex</mat-label>
                <select matNativeControl required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </mat-form-field>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="primary" type="submit">Register</button>
                </span><span class="buttons">
                    <button mat-raised-button color="primary" (click)="goBack()">Back</button>
                </span>
            </div>
        </form>
    </div>
</div>